
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:0;
}

.sidebar-btn {
    border: none;
    border-radius: 0;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: black;
    
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
  
}
input:focus {outline: none; }

.line-input{
    border: none;
    border-radius: 0;
}

.line-input{
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
}

.calle-input {
    width: 40%;
    min-width: 300px;
}
.din-input {
    width: 25vw;
    min-width: 300px;
}

.callenum-input {
     min-width: 100px;
}

.group {
    white-space: nowrap
}

.fullInput {
    width: 90%
}

.row {
    margin-top: 10
}

.col{
    padding-left: 15
}

.Segment {
    padding-left: 40px;
    padding-bottom: 20px;
    border-bottom:  #8d8d8d;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    border-right: #8d8d8d;
    border-right-width: 2px;
    border-right-style: ridge;
}

<<<<<<< HEAD:LugardeLosHechos/Lugar.css
/* Bootstrap Nav over ride */

.navbar .nav {
    
    margin-left: 5px;
    width: 100%;
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav > li {
    padding: 0;
    margin: 0;
    
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
}


.navbar .nav > li > a {
    padding: 10px;
    color: black;
    
    width: 100%;
}

.navbar .nav .nav > lia {
    padding-left: 30px;
}

.active > a {

    font-weight: bold;
    border-left: #8d8d8d; 
    border-left-width: 2px;
    border-left-style: ridge; 
    
}


.navbar .nav ul.nav {
   display: none;           
}

.navbar .nav>.active>ul.nav {
    display:block
}

/* Autocomplete overide */

.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
}


=======
.vehiculo-div {
    
    width: 200px;
    height: 250px;
    margin: 20px;
    color: black;
    background: transparent;
    padding: 20;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}

.vehicle-image {
    width: 120;
    max-width: 100%; 
    height: inherit;
}

.list-margin {
    margin-right: 10px;
}

.vehi-image-container {
    width: 100%;
    background-image:  url(../img/icono_vehiculo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 110px;
}

.list-add {
    margin-top: 30px;
    height: 170px;
    padding: 25px;
}

.btn-plus {
    background: transparent;
    font-size: 100px;
    margin-top: 40px;
    color: black;
}
>>>>>>> 46a10ee70d57063d44d0f7cff08d9af6222121d6:css/Lugar.css
