<!DOCTYPE html>
<html ng-app="App">
    <head>
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
           <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="../css/style.css">  
        <link rel="stylesheet" href="../css/Lugar.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="entregarecepcion.js"></script>
    </head>
    
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="100">
        <nav class="navbar navbar-fixed-top col-xs-3 col-md-2" id="myScrollspy">
            <ul class="nav">
                <li class="col-xs-12"><a href="#Recepcion" >Recepción del lugar</a>
                    <ul class="nav">
                        <li class="col-xs-12"><a href="#Ubicacion" >Ubicación</a></li>
                        <li class="col-xs-12"><a href="#Direccion" >Dirección</a></li>
                    </ul>
                </li>
                <li class="col-xs-12"><a href="#Preservacion" >Preservación del lugar</a>
                    <ul class="nav">
                        <li class="col-xs-12"><a href="#Medidas" >Medidas tomadas</a></li>
                        <li class="col-xs-12"><a href="#Documentacion" >Documentación</a></li>
                        <li class="col-xs-12"><a href="#Modificaciones" >Modificaciones del lugar</a></li>
                        <li class="col-xs-12"><a href="#Riesgos" >Detección de riesgos</a></li>
                     </ul>
                </li> 
                <li class="col-xs-12"><a href="#Involucrados" >Involucrados</a>
                    <ul class="nav">
                        <li class="col-xs-12"><a href="#Victimas" >Victimas</a></li>
                        <li class="col-xs-12"><a href="#Detenidos" >Detenidos</a></li>
                        <li class="col-xs-12"><a href="#Vehiculos" >Vehiculos</a></li>
                        <li class="col-xs-12"><a href="#Servidores" >Servidores publicos</a></li>
                    </ul>
                </li> 
                <li class="col-xs-12"><a href="#Entrega" >Entrega del lugar</a></li>
            </ul>
        </nav>
        <div class="col-xs-9 col-xs-offset-3 col-md-offset-2">
            <div id="Recepcion" class="Segment">
                <h3 class="title1">Recepción del lugar</h3>
                <h4 id="Ubicacion" class="subtitle">Ubicación del lugar de la intervención</h4>
                <div class="row">
                     <div class="col-xs-11 ">
                        <p class="col-xs-12 col-sm-5 col-md-4 col-lg-3">Unidad Administrativa:</p>
                        <input class="line-input col-xs-12 col-sm-7 col-md-8 col-lg-9" ng-model="Vehiculos[selected].marca"></input>
                    </div>
                    <div class="col-xs-11">
                        <p class="col-xs-12 col-sm-5 col-md-4 col-lg-3" >Entidad Federativa:</p>
                       <input class="line-input col-xs-12 col-sm-7 col-md-8 col-lg-9"  ng-model="Vehiculos[selected].tipo"></input>
                    </div>
                    <div class="col-xs-11">
                        <p class="col-xs-12 col-sm-5 col-md-4 col-lg-3">Delegación o Municipio:</p>
                        <input class="line-input col-xs-12 col-sm-7 col-md-8 col-lg-9"></input>
                    </div>
                    <div class="col-xs-11">
                        <p class="col-xs-12 col-sm-5 col-md-3 col-lg-2">Fecha y hora:</p> 
                        <input type="datetime-local" class="line-input col-xs-12 col-sm-6 col-md-5 col-lg-5"></input>
                    </div>
                </div> 
                <h4 id="" class="subtitle">Servidor público encargado de la preservación que entrega el lugar de la intervención</h4>
                <div class="row">
                    <div class="col-xs-11 ">
                        <p class="col-xs-12 col-sm-4 col-md-3 ">Nombre completo:</p>
                        <input class="line-input col-xs-12 col-sm-8 col-md-9 "></input>
                    </div>
                    <div class="col-xs-11 col-md-6">
                        <p class="col-xs-3 col-lg-">Cargo:</p>
                        <input class="line-input col-xs-9 "></input>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <p class="col-xs-6 col-md-5 ">Fecha y hora:</p>
                        <input type="datetime-local" class="line-input col-xs-6 col-md-7"></input>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="col-xs-4 col-sm-3">Firma:</p> 
                        <input class="line-input col-xs-8 col-sm-9"></input>
                    </div>
                </div> 
                <h4 id="" class="subtitle">Servidor público que recibe el lugar de la intervención</h4>
                <div class="row">
                    <div class="col-xs-11 ">
                        <p class="col-xs-12 col-sm-4 col-md-3 ">Nombre completo:</p>
                        <input class="line-input col-xs-12 col-sm-8 col-md-9 "></input>
                    </div>
                    <div class="col-xs-11 col-md-6">
                        <p class="col-xs-3 col-lg-">Cargo:</p>
                        <input class="line-input col-xs-9 "></input>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <p class="col-xs-6 col-md-5 ">Fecha y hora:</p>
                        <input type="datetime-local" class="line-input col-xs-6 col-md-7"></input>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="col-xs-4 col-sm-3">Firma:</p> 
                        <input class="line-input col-xs-8 col-sm-9"></input>
                    </div>
                </div> 
                <h4 id="Direccion" class="subtitle">Dirección</h4>
                <div class="row">
                     <div class="col-xs-11 col-md-6">
                        <p class="col-xs-3 col-lg-2">Calle:</p>
                        <input id="calle-in" class="line-input col-xs-9"></input>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <p class="col-xs-6 col-md-5 col-lg-4">No Aprox:</p>
                        <input class="line-input col-xs-6  col-md-7 col-lg-8"></input>
                    </div>
                    <div class="col-xs-5 col-md-4">
                        <p  class="col-xs-8 col-sm-7 col-md-8">Codigo Postal:</p> 
                        <input id="zip-in" type="number" class="line-input col-xs-4 col-sm-5 col-md-4"></input>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="col-xs-6 col-md-5 col-lg-4">Colonia:</p>
                        <input id="colonia-in" class="line-input col-xs-6 col-md-7 col-lg-8"></input>
                    </div>

                    <div class="col-xs-11">
                        <p class="col-xs-4 col-sm-3 col-lg-2">Comenatrio:</p> 
                        <input class="line-input col-xs-8 col-md-9 col-lg-10"></input>
                    </div>
                </div>
            </div>
            <div id="Preservacion" class="Segment">
                <h3 class="title">Preservación del lugar</h3>
                <h4 id="Medidas" class="subtitle">Medidas tomadas para la preservación</h4>
                <div class="row">
                     <div class="col-xs-11">
                        <p class="col-xs-12">Señala las medidas tomadas para preservar el lugar de intervención</p>
                        <textarea rows="4"  class="col-xs-12"></textarea>
                    </div>
                </div>
                <h4 id="Documentacion" class="subtitle">Documentación del lugar de intervención</h4>
                <div class="row">
                    <span class="col-xs-6 col-sm-4 col-md-2 ">Fotográfica </span>
                    <div class="col-xs-2 col-lg-1">
                        <input name="fotografica" type="radio">Si</input>
                    </div>
                    <div class="col-xs-2 col-lg-1">
                        <input name="fotografica" type="radio">No</input>
                    </div>
                </div> 
                <div class="row">
                    <span class="col-xs-6 col-sm-4 col-md-2">Videográfico </span>
                    <div class="col-xs-2 col-lg-1">
                        <input name="videografico" type="radio">Si</input>
                    </div>
                    <div class="col-xs-2 col-lg-1">
                        <input name="videografico" type="radio">No</input>
                    </div>
                </div>
                <div class="row">
                    <span class="col-xs-6 col-sm-4 col-md-2">Por escrito</span>
                    <div class="col-xs-2 col-lg-1">
                        <input name="escrito" type="radio">Si</input>
                    </div>
                    <div class="col-xs-2 col-lg-1">
                        <input name="escrito" type="radio">No</input>
                    </div>
                </div>
                <h4 id="" class="subtitle">Personas que relizaron estas actividades</h4>
                <div ng-controller="DocServidoresControl">
                    <div class="row">
                        <div class="col-xs-11">
                            <p class="col-xs-6 col-sm-4 col-md-3 ">Nombre completo: </p>
                            <input class="line-input col-xs-6 col-sm-8 col-md-9" ng-model="DocServidores[selected].nombre"></input>
                        </div>
                        <div class="col-xs-11">
                            <p class="col-xs-3 col-sm-2 col-lg-1">Cargo:</p>
                            <input class="line-input col-xs-9 col-sm-10 col-lg-11"  ng-model="DocServidores[selected].cargo"></input>
                        </div>
                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-1-div btn" ng-repeat="servidor in DocServidores">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>Nombre completo: {{servidor.nombre}}</div>
                            <div>Cargo: {{servidor.cargo}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <h4 id="Modificaciones" class="subtitle">Modificación del lugar</h4>
                <div class="row">
                    <span class="col-xs-6 col-sm-4 col-md-3 ">Fue modificado el lugar</span>
                    <div name="modificado" class="col-xs-2 col-lg-1">
                        <input type="radio">Si</input>
                    </div>
                    <div name="modificado" class="col-xs-2 col-lg-1">
                        <input type="radio">No</input>
                    </div>
                </div> 
                <div class="row">
                    <p class="col-xs-12">Tipo de modificación: </p>
                    <div class="col-xs-12  col-sm-6 col-md-4">
                        <input type="radio">Intencional</input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <input type="radio">Cuerpos de emergencia</input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <input type="radio">Fenómenos naturales</input>
                    </div>
                </div>
                <div class="row">
                     <div class="col-xs-11">
                        <p class="col-xs-12" style="margin-top:10px">Especifique</p>
                        <textarea rows="3"  class="col-xs-12"></textarea>
                    </div>
                </div>
                <h4 id="Riesgos" class="subtitle">Detección temprana de riesgos</h4>
                <div class="row">
                     <div class="col-xs-11">
                        <p class="col-xs-12">Especifique aqullas circunstancias que pueden representar un riesgo para la integridad del lugar</p>
                        <textarea rows="4"  class="col-xs-12"></textarea>
                    </div>
                </div>
            </div>
            <div id="Involucrados" class="Segment">
                <h3 class="title">Involucrados</h3>
                <h4 id="Victimas" class="subtitle">Victimas</h4>
                <div ng-controller="VictimasControl">
                    <div class="row">
                         <div class="col-xs-11 col-sm-3">
                            <p class="col-xs-2 col-sm-6 col-lg-8">No.: </p>
                            <input type="number" class="line-input col-xs-3 col-sm-6 col-lg-4" ng-model="Victimas[selected].numero"></input>
                        </div>
                        <div class="col-xs-11 col-sm-8">
                            <p class="col-xs-3 col-lg-2">Nombre: </p>
                            <input class="line-input col-xs-9 col-lg-10" ng-model="Victimas[selected].nombre"></input>
                        </div>
                        <div class="col-xs-11">
                            <p class="col-xs-3  col-md-2">Condición:</p>
                            <input class="line-input col-xs-9 col-md-10 "  ng-model="Victimas[selected].condicion"></input>
                        </div>
                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-1-div btn" ng-repeat="victima in Victimas">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>No.: {{victima.numero}}</div>
                            <div>Nombre: {{victima.nombre}}</div>
                            <div>Condición: {{victima.condicion}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <h4 id="Destinos" class="subtitle">Destino de las victimas</h4>
                <div ng-controller="DestinosControl">
                    <div class="row">
                         <div class="col-xs-11 col-md-3">
                            <p class="col-xs-6 col-lg-8">No.: </p>
                            <input type="number" class="line-input col-xs-6 col-lg-4" ng-model="Destinos[selected].numero"></input>
                        </div>
                        <div class="col-xs-11 col-md-8">
                            <p class="col-xs-9 col-sm-7">Placas o numero economico de la unidad:</p>
                            <input class="line-input col-xs-3 col-sm-5"  ng-model="Destinos[selected].unidad"></input>
                        </div>
                        <div class="col-xs-11">
                            <p class="col-xs-6 col-md-5 col-lg-4">Institución que lo traslado: </p>
                            <input class="line-input col-xs-6 col-md-7 col-lg-8" ng-model="Destinos[selected].institucion"></input>
                        </div>
                        <div class="col-xs-11">
                            <p class="col-xs-6 col-md-5 col-lg-4">Lugar al que se traslado:</p>
                            <input class="line-input col-xs-6 col-md-7 col-lg-8"  ng-model="Destinos[selected].lugar"></input>
                        </div>

                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-2-div btn" ng-repeat="destino in Destinos">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>No.: {{destino.numero}}</div>
                            <div>Insitución que lo traslado: {{destino.institucion}}</div>
                            <div>Lugar de traslado: {{destino.lugar}}</div>
                            <div>Placas o numero economico de la unidad: {{destino.unidad}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <h4 id="Detenidos" class="subtitle">Detenidos</h4>
                <div ng-controller="DetenidosControl">
                    <div class="row">
                         <div class="col-xs-11 col-sm-3">
                            <p class="col-xs-2 col-sm-6 col-lg-8">No.: </p>
                            <input type="number" class="line-input col-xs-3 col-sm-6 col-lg-4" ng-model="Detenidos[selected].numero"></input>
                        </div>
                        <div class="col-xs-11 col-sm-8">
                            <p class="col-xs-3 col-lg-2">Nombre: </p>
                            <input  class="line-input col-xs-9 col-lg-10" ng-model="Detenidos[selected].nombre"></input>
                        </div>
                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-1-div btn" ng-repeat="detenido in Detenidos">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>No.: {{detenido.numero}}</div>
                            <div>Nombre: {{detenido.nombre}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <h4 id="Vehiculos" class="subtitle">Vehiculos relacionados</h4>
                <div ng-controller="VehiculeControl">
                    <div class="row">
                        <div class="col-xs-11 col-md-6">
                            <p class="col-xs-3 col-lg-2" for="apellido">Tipo:</p>
                            <input class="line-input col-xs-9 "  ng-model="Vehiculos[selected].tipo"></input>
                        </div>
                        <div class="col-xs-11 col-md-5">
                            <p class="col-xs-3 col-sm-3 col-lg-2">Color:</p> 
                            <input type="color" class="line-input col-xs-9 col-md-9 col-lg-10" ng-model="Vehiculos[selected].color"></input>
                        </div>
                        <div class="col-xs-11 col-md-6">
                            <p class="col-xs-3 col-lg-2">Marca:</p>
                            <input class="line-input col-xs-9" ng-model="Vehiculos[selected].marca"></input>
                        </div>
                        <div class="col-xs-11 col-md-5">
                            <p class="col-xs-3 col-lg-2">Linea:</p>
                            <input class="line-input col-xs-9" ng-model="Vehiculos[selected].linea"></input>
                        </div>
                        <div class="col-xs-5 col-md-4">
                            <p class="col-xs-4 col-sm-3 col-lg-2">Año: </p> 
                            <input class="line-input col-xs-7 col-md-8 col-lg-9" type="number" ng-model="Vehiculos[selected].ano"></input>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <p class="col-xs-4 col-md-3">Placa:</p>
                            <input class="line-input col-xs-7 col-md-8" ng-model="Vehiculos[selected].placa"></input>
                        </div>
                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-3-div btn" ng-repeat="vehiculo in Vehiculos">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>Tipo: {{vehiculo.tipo}}</div>
                            <div>Color: {{vehiculo.color}}</div>
                            <div>Marca: {{vehiculo.marca}}</div>
                            <div>Linea: {{vehiculo.linea}}</div>
                            <div>Año: {{vehiculo.ano}}</div>
                            <div>Placa: {{vehiculo.placa}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <h4 id="Servidores" class="subtitle" >Servidores publicos que ingresaron al lugar</h4>
                <div ng-controller="ServidoresControl">
                    <div class="row">
                        <div class="col-xs-11">
                            <p class="col-xs-4  col-md-3">Nombre completo:</p>
                            <input class="line-input col-xs-8 col-md-9 " ng-model="Servidores[selected].nombre"></input>
                        </div>
                        <div class="col-xs-11 col-lg-5">
                            <p class="col-xs-4  col-md-2 col-lg-4">Institución:</p>
                            <input class="line-input col-xs-8 col-md-10 col-lg-7"  ng-model="Servidores[selected].institucion"></input>
                        </div>
                        <div class="col-xs-11 col-lg-6">
                            <p class="col-xs-4  col-md-2 col-lg-4">Cargo:</p> 
                            <input class="line-input col-xs-8 col-md-10 col-lg-8" ng-model="Servidores[selected].cargo"></input>
                        </div>
                        <div class="col-xs-11 col-md-5">
                            <p class="col-xs-4 col-md-8">Hora de ingreso:</p> 
                            <input type="time" class="line-input col-xs-3 col-md-4" ng-model="Servidores[selected].horaingreso"></input>
                        </div>
                        <div class="col-xs-11 col-md-5">
                            <p class="col-xs-4 col-md-8">Hora de salida:</p> 
                            <input type="time" class="line-input col-xs-3 col-md-4" ng-model="Servidores[selected].horasalida"></input>
                        </div>
                    </div>
                    <div class="row list-margin">
                        <a ng-click="select($index)" ng-class="{itemActive: selected == $index}" class="item-3-div btn" ng-repeat="servidor in Servidores">
                            <button ng-click="remove($index)" class="close-1-btn btn"><span class="glyphicon glyphicon-remove"></span></button>
                            <div>Nombre: {{servidor.nombre}}</div>
                            <div>Institución: {{servidor.institucion}}</div>
                            <div>Cargo: {{servidor.cargo}}</div>
                            <div>Hora ingreso: {{servidor.horaingreso}}</div>
                            <div>Hora salida: {{servidor.horasalida}}</div>
                        </a>
                        <a ng-click="add()"  class="item-1-div btn">
                            <span class="btn-1-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="Entrega" class="Segment">
                <h3 class="title">Entrega del lugar</h3>
                <h4 class="subtitle">Servidor público que entrega el lugar después del procesamiento</h4>
                <div class="row">
                    <div class="col-xs-11 ">
                        <p class="col-xs-12 col-sm-4 col-md-3 ">Nombre completo:</p>
                        <input class="line-input col-xs-12 col-sm-8 col-md-9 "></input>
                    </div>
                    <div class="col-xs-11 col-md-6">
                        <p class="col-xs-3 col-lg-">Cargo:</p>
                        <input class="line-input col-xs-9 "></input>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <p class="col-xs-6 col-md-5 ">Fecha y hora:</p>
                        <input type="datetime-local" class="line-input col-xs-6 col-md-7"></input>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="col-xs-4 col-sm-3">Firma:</p> 
                        <input class="line-input col-xs-8 col-sm-9"></input>
                    </div>
                </div> 
                <h4 class="subtitle">Servidor público que recibe el lugar de la intervención</h4>
                <div class="row">
                    <div class="col-xs-11 ">
                        <p class="col-xs-12 col-sm-4 col-md-3 ">Nombre completo:</p>
                        <input class="line-input col-xs-12 col-sm-8 col-md-9 "></input>
                    </div>
                    <div class="col-xs-11 col-md-6">
                        <p class="col-xs-3 col-lg-">Cargo:</p>
                        <input class="line-input col-xs-9 "></input>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <p class="col-xs-6 col-md-5 ">Fecha y hora:</p>
                        <input type="datetime-local" class="line-input col-xs-6 col-md-7"></input>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="col-xs-4 col-sm-3">Firma:</p> 
                        <input class="line-input col-xs-8 col-sm-9"></input>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>